/* Geral */

body {
    background-color:rgba(36, 35, 37, 1);
}

a {
    font-family: 'Grenze Gotisch', Arial;
    font-size: 28px;
}

.gradiente {
    background-image: linear-gradient(#990000, #ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
}

.container {
    padding: 70px;
}

.container-fluid {
    padding: 0;
}

/* Header */

header, 

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 160px;
    height: 70px;
    padding-left: 29%;
}

#main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    position: fixed;
    background-color: rgba(36, 35, 37, 0.25);
    backdrop-filter: blur(2.5px);
    box-shadow: 0 0 2em rgba(14, 1, 1, 0.5);
    width: 100vw;
    top: 0;
    z-index: 1;
}

.navbar .logo {
    height: 60px;
    padding-right: 5%;
}

.navbar-nav {
    padding-right: 50px;
    padding-left: 33px;
}

.navbar .nav .active a,
.navbar .nav :hover a {
    color: rgb(255, 255, 255);
}

#navbar-links a {
    color: rgba(208, 0, 0, 0.781);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: .5rem .9rem;
}

.navbar-toggler {
    margin-right: 7%;
}

/* Sobre */

#about-area {
    background-image: url("../img/Background.png");
    box-shadow: 0 0 1.5em rgba(14, 1, 1, 0.863);
    margin-left: 64px;
    margin-right: 64px;
    border-radius: 24px;
}

.about-title {
    color: rgb(255, 255, 255);
    margin: 0 0 45px 0;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Grenze Gotisch', Arial;
    text-align: center;
}

.about-title::after {
    content: "";
    border-top: 2px solid rgb(255, 255, 255);
    width: 25%;
    position: absolute;
    top: 60px;
    left: 35.5%;
}

.about-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

#about-list li {
    padding-top: 10px;
}

.about-img {
    margin-bottom: 30px;
    margin-top: 7px;
    border-radius: 24px;
    box-shadow: 0 0 2em rgba(32, 1, 1, 0.678);;
}

/* Avaliações */

#rating-area {
    margin-top: 64px;
    box-shadow: 0 0 2em rgba(32, 1, 1, 0.678);
}

#img-rating {
    background-image: url("../img/Avaliacao.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rating-title {
    color: rgb(255, 255, 255);
    margin: 0 0 45px 0;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Grenze Gotisch', Arial;
    text-align: center;
}

.rating-title::after {
    content: "";
    border-top: 2px solid rgb(255, 255, 255);
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.card {
    background-color:rgb(20, 20, 20, 0.7);
    margin-top: 5%;
    transform: scale(1);
    transition: .5s;
}

.card:hover {
    transform: scale(1.13);
}

.card-flex {
    display: flex;
}

.card-title {
    font-family: 'Grenze Gotisch', Arial;
    background-image: linear-gradient(#990000, #ff0000d2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 5%; 
}

.card-text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-align: center;
}

.card-img {
    margin-top: 10px;
    width: 69px;
    height: 74px;
    margin-left: 5%;
}

.five-star {
    margin-top: 10px;
    margin-left: 23%;
    margin-top: 5%;
}

.four-star {
    margin-top: 10px;
    margin-left: 28%;
    margin-top: 5%;
}

/* Galeria */

#gallery-area {
    background-color: rgb(20, 20, 20, 0.7);
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.678);
    margin-left: 64px;
    margin-right: 64px;
    border-radius: 24px;
    margin-top: 60px;
}

.gallery-title {
    color: rgb(255, 255, 255);
    margin: 0 0 45px 0;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Grenze Gotisch', Arial;
    text-align: center;
}

.gallery-title::after {
    content: "";
    border-top: 2px solid rgb(255, 255, 255);
    width: 6%;
    position: absolute;
    top: 60px;
    left: 47%;
}

.carousel-indicators .active {
    background-color: #ff0000cb;
}

.gallery-gif {
    width: 600px;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.carousel-item {
    text-align: center;
    padding-bottom: 3%;
}

.carousel-control-prev-icon {
    margin-right: 15%;
}

.carousel-control-next-icon {
    margin-left: 15%;
}

/* Loja */

/* Footer */

/* Login */

/* Cadastro */