/* Geral */

body {
  background-color: rgba(36, 35, 37, 1);
}

a {
  font-family: "Grenze Gotisch", Arial;
  font-size: 28px;
}

.row {
  margin-right: 0px;
}

.gradiente {
  font-family: "Grenze Gotisch", Arial;
  background-image: linear-gradient(#990000, #ff0000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container {
  padding: 70px;
}

.container-fluid {
  padding: 0;
}

/* Header */

header,
#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 160px;
  height: 70px;
  padding-left: 29%;
}

#main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  position: fixed;
  background-color: rgba(36, 35, 37, 0.25);
  backdrop-filter: blur(2.5px);
  box-shadow: 0 0 2em rgba(14, 1, 1, 0.5);
  width: 100vw;
  top: 0;
  z-index: 1;
}

.navbar .logo {
  height: 60px;
  padding-right: 5%;
}

.navbar-nav {
  padding-right: 50px;
  padding-left: 33px;
}

.navbar .nav .active a,
.navbar .nav :hover a {
  color: rgb(255, 255, 255);
}

#navbar-links a {
  color: rgba(208, 0, 0, 0.781);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0.5rem 0.9rem;
}

.navbar-toggler {
  margin-right: 7%;
}

/* Sobre */

#about-area {
  background-image: url("../img/Background.png");
  box-shadow: 0 0 1.5em rgba(14, 1, 1, 0.863);
  margin-left: 64px;
  margin-right: 64px;
  border-radius: 24px;
}

.about-title {
  color: rgb(255, 255, 255);
  margin: 0 0 45px 0;
  font-size: 40px;
  font-weight: normal;
  font-family: "Grenze Gotisch", Arial;
  text-align: center;
}

.about-title::after {
  content: "";
  border-top: 2px solid rgb(255, 255, 255);
  width: 25%;
  position: absolute;
  top: 60px;
  left: 35.5%;
}

.about-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  text-align: left;
}

#about-list li {
  padding-top: 10px;
}

.about-img {
  margin-bottom: 30px;
  margin-top: 7px;
  border-radius: 24px;
  box-shadow: 0 0 2em rgba(32, 1, 1, 0.678);
}

/* Avaliações */

#rating-area {
  margin-top: 60px;
  box-shadow: 0 0 2em rgba(32, 1, 1, 0.678);
}

#img-rating {
  background-image: url("../img/Avaliacao.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rating-title {
  color: rgb(255, 255, 255);
  margin: 0 0 45px 0;
  font-size: 40px;
  font-weight: normal;
  font-family: "Grenze Gotisch", Arial;
  text-align: center;
}

.rating-title::after {
  content: "";
  border-top: 2px solid rgb(255, 255, 255);
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.card {
  background-color: rgb(20, 20, 20, 0.7);
  margin-top: 5%;
  transform: scale(1);
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
}

.card-flex {
  display: flex;
}

.card-title {
  font-family: "Grenze Gotisch", Arial;
  background-image: linear-gradient(#990000, #ff0000d2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 30px;
  margin-top: 10%;
  margin-left: 5%;
}

.card-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.card-img {
  margin-top: 10px;
  width: 69px;
  height: 74px;
  margin-left: 5%;
}

.five-star {
  margin-top: 10px;
  margin-left: 23%;
  margin-top: 5%;
}

.four-star {
  margin-top: 10px;
  margin-left: 28%;
  margin-top: 5%;
}

/* Galeria */

#gallery-area {
  background-color: rgb(20, 20, 20, 0.7);
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.678);
  margin-left: 64px;
  margin-right: 64px;
  border-radius: 24px;
  margin-top: 60px;
}

.gallery-title {
  color: rgb(255, 255, 255);
  margin: 0 0 45px 0;
  font-size: 40px;
  font-weight: normal;
  font-family: "Grenze Gotisch", Arial;
  text-align: center;
}

.gallery-title::after {
  content: "";
  border-top: 2px solid rgb(255, 255, 255);
  width: 6%;
  position: absolute;
  top: 60px;
  left: 47%;
}

.carousel-indicators .active {
  background-color: #ff0000cb;
}

.gallery-gif {
  width: 600px;
  height: 347px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}

.carousel-item {
  text-align: center;
  margin-bottom: 3%;
}

.carousel-control-prev-icon {
  margin-right: 15%;
}

.carousel-control-next-icon {
  margin-left: 15%;
}

/* Loja */

#store-area {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.678);
  margin-top: 60px;
}

.img-store {
  background-image: url("../img/Loja_img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.store-title {
  color: rgb(255, 255, 255);
  margin: 0 0 45px 0;
  font-size: 40px;
  font-weight: normal;
  font-family: "Grenze Gotisch", Arial;
  text-align: center;
}

.store-title::after {
  content: "";
  border-top: 2px solid rgb(255, 255, 255);
  width: 15%;
  position: absolute;
  top: 55%;
  left: 42.5%;
}

.card-logo {
  color: rgb(255, 255, 255);
  margin-top: 2%;
  margin-left: 6%;
}

.store-card {
  transition: 0.2s;
}

.store-card:hover {
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  background-color: #0b0b0bc4;
}

.card-store-img {
  color: rgb(255, 255, 255);
  margin-top: 2%;
  margin-left: 6%;
  height: 69px;
  width: 69px;
}

.card-store-title {
  color: rgb(255, 255, 255);
  margin: 0 0 45px 0;
  font-size: 48px;
  font-weight: normal;
  font-family: "Grenze Gotisch", Arial;
  margin-top: 2%;
  margin-left: 4%;
}

.card-store-title:after {
  content: "";
  border-top: 2px solid rgb(255, 255, 255);
  width: 20%;
  position: absolute;
  top: 28%;
  left: 40%;
}

.store-list {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-left: 11%;
}

#store-area .container a {
  color: rgb(255, 255, 255);
  font-size: none;
  font-size: 22px;
}

#store-area .container a:hover {
  text-decoration: none;
}

/* Footer */

#footer-area {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 12%,
    rgba(5, 5, 5, 0.9) 62%,
    rgba(20, 20, 20, 0.8) 92%
  );
  margin-top: 3%;
  text-align: center;
}

.footer-title {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: normal;
  font-family: "Grenze Gotisch", Arial;
  margin-top: 0.3%;
}

.footer-title::after {
  content: "";
  border-top: 2px solid rgb(255, 255, 255);
  width: 8%;
  position: absolute;
  top: 44%;
  left: 46%;
}

.footer-icons i {
  color: rgb(255, 255, 255);
  margin-top: 1.5%;
  margin-left: 1%;
  margin-right: 1%;
}

/* copy */

#copy-area {
  background-color: #000000;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  font-family: "Grenze Gotisch", Arial;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
}

#copy-area .container p:hover {
  background-image: linear-gradient(#990000, #ff0000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#copy-area .container a {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

#copy-area .container a:hover {
  text-decoration: none;
  background-image: linear-gradient(#990000, #ff0000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Login e Cadastro */

@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* tela inteira */

section {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #242325 13.09%,
    rgba(36, 35, 37, 0.89) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.5s;
}

/* o quadrado onde fica a imagem e o forms */

section .container {
  position: relative;
  width: 1000px;
  height: 475px;
  left: 162;
  top: 123;
  background: linear-gradient(180deg, #292222 0%, #0b0b0b 43.46%);
  box-shadow: 0px 4px 80px rgba(41, 25, 25, 0.25),
    inset 0px 4px 80px rgba(41, 25, 25, 0.25);
  overflow: hidden;
}

/* parte que vai ser usada com a imagem e com o forms */

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

/* espaço da imagem */

section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 101.5%;
  transition: 0.5;
}

/* imagens */

section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* espaço do formulário */

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

/* título "Entrar" */

section .container .user .formBx h2 {
  font-size: 48px;
  font-family: "Grenze Gotisch";

  /* início do degradê */

  background-image: linear-gradient(
    180deg,
    #d00000 0%,
    rgba(255, 0, 0, 0.74) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* fim do degradê */

  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

/* after título */

section .container .user .formBx h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #fff;
  margin: 2px auto;
}

/* caixas do forms (todas)*/

section .container .user .formBx input {
  background: transparent;
  font-size: 20px;
  letter-spacing: 1px;
}

/* cor texto input */

input {
  color: rgba(255, 255, 255, 0.6);
}

/* caixas do forms (email e senha) */

section .container .user .formBx input[type="text"],
section .container .user .formBx input[type="password"] {
  width: 80%;
  padding: 8px;
  margin: 18px 0;
  margin-left: 40px;
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    180deg,
    #570101 0%,
    rgba(255, 0, 0, 0.74) 100%
  );
}

/* botão */

section .container .user .formBx input[type="button"] {
  width: 30%;
  padding: 8px;
  margin-left: 150px;
  margin-bottom: 10px;
  border-radius: 24px;
}

/* texto em baixo do botão */

section .container .user .formBx .signup {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

/* link após o texto em baixo do botão */

section .container .user .formBx .signup a {
  font-size: 20px;
  background-image: linear-gradient(180deg, #570101 0%, #ff0000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Cadastro */

section .container .signupBx {
  pointer-events: none;
}

section .container.active .signupBx {
  pointer-events: initial;
}

section .container .signupBx .formBx {
  top: 100%;
}

section .container.active .signupBx .formBx {
  top: 0;
}

section .container .signupBx .imgBx {
  top: -100%;
  transition: 0.5s;
}

section .container.active .signupBx .imgBx {
  top: 0;
}

section .container .signinBx .formBx {
  top: 0;
}

section .container.active .signinBx .formBx {
  top: 100%;
}

section .container .signinBx .imgBx {
  top: 0;
  transition: 0.5s;
}

section .container.active .signinBx .imgBx {
  top: -100%;
}
/* Responsivo */
@media (max-width: 1199px) {
  /* Sobre */
  .about-title {
    font-size: 32px;
  }

  .about-title::after {
    top: 55px;
  }

  .about-img {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  /* Loja */
  .card-store-title {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  /* Geral */
  .container {
    padding: 40px;
  }

  /* Sobre */
  .about-title {
    padding-bottom: 25px;
    margin: 0;
    font-size: 32px;
  }

  .about-title::after {
    top: 80px;
  }

  .about-text {
    font-size: 17px;
  }

  .about-img {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  /* Avaliações */
  .card-title {
    font-size: 25px;
  }

  .five-star {
    margin-left: 0;
  }

  .four-star {
    padding-left: 20px;
    margin-left: 0;
  }
}

/* Responsivo tablet */
@media (max-width: 767px) {
  /* Header menu */
  .nav-item {
    text-align: center;
  }

  .about-title {
    padding-bottom: 25px;
    margin: 0;
  }

  .about-title::after {
    left: 40%;
    width: 20%;
    position: absolute;
    top: 55px;
  }

  .about-img {
    margin-bottom: 30px;
  }

  /* Avaliações */
  .card-title {
    font-size: 35px;
    position: relative;
    text-align: center;
    padding-left: 35px;
  }

  .five-star {
    margin-left: 23%;
    padding-left: 30px;
  }

  .four-star {
    margin-left: 28%;
    padding-left: 30px;
  }

  /* Galeria */
  .gallery-title::after {
    left: 40%;
    width: 20%;
  }

  .store-title::after {
    top: 75%;
  }
}

@media (max-width: 560px) {
  .about-title::after {
    top: 85px;
  }

  .footer-title::after {
    top: 40%;
  }

  .gallery-gif {
    width: 280px;
    height: 200px;
  }
}

@media (max-width: 545px) {
  /* Sobre */
  .about-title {
    padding-bottom: 25px;
    margin: 0;
    font-size: 27px;
  }

  .about-title::after {
    top: 45px;
  }

  /* Loja */
  .store-title {
    padding-bottom: 40px;
    margin: 0;
    font-size: 35px;
  }

  /* Footer */
  .footer-icons i {
    padding: 10px;
    font-size: 40px;
  }
}

@media (max-width: 494px) {
  /* Sobre */
  .about-title {
    font-size: 23px;
  }

  .about-title::after {
    top: 40px;
  }

  /* Loja */
  .store-title {
    padding-bottom: 40px;
    margin: 0;
    font-size: 30px;
  }

  .card-store-title {
    font-size: 35px;
    padding-left: 20px;
  }

  .card-store-title::after {
    padding-left: 40px;
    top: 25%;
  }
}

@media (max-width: 450px) {
  .about-title {
    font-size: 30px;
  }

  .about-title::after {
    top: 85px;
  }

  .footer-title {
    font-size: 28px;
  }
}

/* Responsivo celular */
@media (max-width: 425px) {
  /* Geral */
  .container {
    padding: 20px;
  }

  /* Header menu */
  .nav-item {
    text-align: center;
  }

  /* Sobre */
  #about-area {
    margin: 50px;
  }

  #main-img {
    width: 100%;
    height: 100%;
  }

  .about-title {
    padding-bottom: 25px;
    margin: 0;
  }

  .about-title::after {
    left: 40%;
    width: 20%;
    position: absolute;
    top: 75px;
  }

  .about-text {
    font-size: 15px;
  }

  /* Avaliações */
  /* #img-rating {
    background-image: url("../img/Entrar.png");
  } */

  .rating-title {
    padding-bottom: 25px;
    margin: 0;
    font-size: 25px;
  }

  .rating-title::after {
    left: 40%;
    width: 20%;
    position: absolute;
    top: 50px;
  }

  .card-title {
    font-size: 30px;
    text-align: center;
    padding-left: 20px;
  }

  .five-star {
    padding-left: 10px;
  }

  .four-star {
    padding-left: 10px;
  }

  /* Galeria */
  .gallery-title {
    padding-bottom: 25px;
    margin: 0;
    font-size: 25px;
  }

  .gallery-title::after {
    left: 40%;
    width: 20%;
    position: absolute;
    top: 40px;
  }

  .gallery-gif {
    width: 300px;
    height: 173.5px;
  }

  /* Loja */
  .store-title {
    padding-bottom: 40px;
    margin: 0;
    font-size: 25px;
  }

  .store-title::after {
    left: 40%;
    width: 20%;
    position: absolute;
    top: 55px;
  }

  .card-store-title {
    font-size: 25px;
  }

  .card-store-title::after {
    left: 40%;
    width: 25%;
    position: absolute;
    top: 50px;
  }

  .store-list {
    font-size: 18px;
  }

  .footer-icons i {
    padding: 5px;
  }

  #copy-area .container {
    padding: 0;
  }
}

/* Responsivo login */
@media (max-width: 1000px) {
  section .container {
    max-width: 400px;
  }

  section .container .imgBx {
    display: none;
  }

  section .container .user .formBx {
    width: 100%;
  }

  section .container.active .user .signin .formBx {
    bottom: 100%;
  }

  section .container .user .formBx input[type="button"] {
    width: 40%;
    padding: 8px;
    margin-left: 110px;
    margin-bottom: 10px;
  }
}
